* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container_form {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    margin-top: 50px;
}

#panel_title {
    font-size: 32px;
    text-align: center;
    color: #76aad6;
}