* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo_web {
    margin-top: -15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}